@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="uk">
<!--<![endif]-->
<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title>Zvistka</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link href="~/Content/base.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/vendor.css">
    <link rel="stylesheet" href="~/Content/main.css">

    <link rel="shortcut icon" href="~/Images/z-coordinate.png" type="image/x-icon">
    <link rel="icon" href="~/Images/z-coordinate.png" type="image/x-icon">
</head>

<body id="top">
    @*<header class="s-header">
        <nav class="header-nav-wrap pull-left" style="left: 120px; font-family:'librebaskerville-bold', serif; font-size: 4rem;">
            <ul class="header-nav">
                <li><a class="smoothscroll" href="#" title="home">Zvistka</a></li>
            </ul>
        </nav>

        <nav class="header-nav-wrap">
            <ul class="header-nav">
                <li><a class="" href="@Url.Action("Index", "News")" title="Головна">Новини</a></li>
                <li class="current"><a class="smoothscroll" href="#about" title="Про нас">Про нас</a></li>
                <li><a class="" href="#" title="Новини">Замовити</a></li>
                
                @*<li><a class="smoothscroll" href="#blog" title="Блог">Блог</a></li>*@
                @*<li><a class="smoothscroll" href="#contact" title="Контакт">Контакт</a></li>
            </ul>
        </nav>

        <a class="header-menu-toggle" href="#0"><span>Меню</span></a>

    </header>*@
    <section id="home" class="s-home page-hero target-section image-block" data-parallax="scroll" data-image-src="../Images/business-2297833_1920.jpg" data-natural-width="3000" data-natural-height="2000" data-position-y="center">

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Вітаємо у нас</h3>

                <h1>
                    Ми, інформаційний портал "Zvistka",<br>
                    який підбере для Вас<br>
                    найсвіжіші оригінальні новини<br>
                    з цікавих Вам ресурсів.
                </h1>

                <div class="home-content__buttons">
                    <a href="@Url.Action("Index", "News")" class="btn btn--stroke" style="display: inherit !important;">
                        Наші новини
                    </a>
                    <a href="@Url.Action("AboutUs", "News")" class="btn btn--stroke">
                        Про нас
                    </a>
                </div>

                <div class="home-content__scroll">
                    <a href="#about" class="scroll-link smoothscroll" style="text-decoration: none;">
                        <span>Прокрути вниз</span>
                    </a>
                </div>

            </div>

        </div> <!-- end home-content -->

        <ul class="home-social">
            <li>
                <a href="#"><i class="im im-facebook" aria-hidden="true"></i><span>Facebook</span></a>
            </li>
            <li>
                <a href="#"><i class="im im-twitter" aria-hidden="true"></i><span>Twiiter</span></a>
            </li>
            <li>
                <a href="#"><i class="im im-instagram" aria-hidden="true"></i><span>Instagram</span></a>
            </li>
            @*<li>
                    <a href="#"><i class="im im-behance" aria-hidden="true"></i><span>Behance</span></a>
                </li>*@
            <li>
                <a href="#"><i class="im im-pinterest" aria-hidden="true"></i><span>Pinterest</span></a>
            </li>
        </ul>
        <!-- end home-social -->

    </section> <!-- end s-home -->
    <!-- about
    ================================================== -->
    <section id="about" class="s-about target-section" style="padding-top: 7rem; padding-bottom: 2rem;
                                                                                                                                                                                                             ">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full text-center">
                <h3>Про нас</h3>
                <h1>Дізнайтесь більше про наш портал</h1>
                @*<p class="lead">Lorem ipsum Dolor adipisicing nostrud et aute Excepteur amet commodo ea dolore irure esse Duis nulla sint fugiat cillum ullamco proident aliquip quis qui voluptate dolore veniam Ut laborum non est in officia.</p>*@
            </div>
        </div>

        <div class="row about-content">

            <div class="col-six tab-full left">
                <h3>Теги та категорії</h3>

                <p>
                    Мета: За допомогою нашого порталу читати новини стане набагато зручніше. Тепер Вам не прийдеться перелистувати однакові новини, адже в нас тільки унікальні новини. Ви зможете здійснювати пошук новин за своїми смаками та вподобовання. Також у вас є можливість замовити примірник для свої рідних, друзів, колег.
                    <br>
                    Девіз нашого проекту: Ви самі обираєте, що читати
                </p>

                <p>
                    Для того щоб додати новину Вам потрібно перейти на відповідну сторінку натиснуваши клавішу "Добавити новину". Заповніть обов"язкові поля (назву, зображення, опис новин) та добавте теги, які відповідають вашій новині. Чим більше тегів Ви добавити, тим популярнішою буде ваша стаття.
                </p>
            </div>

            <div class="col-six tab-full right">
                <h3>Найпопулярніші теги</h3>
                @{Html.RenderAction("PopularTags", "News");}

            </div>

        </div> <!-- end about-content -->

        <div class="row about-content about-content--buttons">

            <div class="col-six tab-full left">
                <a href="@Url.Action("Create","News")" class="btn btn--primary full-width">Додати новину</a>
            </div>
            <div class="col-six tab-full right">
                <a href="#" class="btn full-width">Замовити примірник</a>
            </div>

        </div> <!-- end about-content buttons -->

        <div class="row about-content about-content--timeline" style="padding-top: 25px;">
            <div class="row narrow section-intro has-bottom-sep">
                <div class="col-full text-center">
                    <h1>Найпопулярніші новини</h1>
                </div>
            </div>

            @{Html.RenderAction("PopularNews", "News");}

        </div> <!-- end about-content timeline -->

    </section> <!-- end about -->
    <!-- testimonials
    ================================================== -->
    <div class="s-testimonials">

        <div class="overlay"></div>

        <div class="row testimonials-header">
            <div class="col-full">
                <h1 class="h02">Наші джерела</h1>
            </div>
        </div>

        <div class="row testimonials">

            <div class="col-full testimonials__slider">

                <div class="testimonials__slide">
                    <img src="~/Images/vezha.png" alt="Author image" class="testimonials__avatar">
                    <p>
                        Муніципальна телерадіокомпанія «Вежа» виникла у Івано-­Франківську у листопаді 1999 року.
                        Метою створення було бажання громади міста та депутатів міської ради мати незалежний та некомерційний засіб масової інформації, зорієнтований на життя міста.
                    </p>
                    <div class="testimonials__author h06">
                        ТРК Вежа
                        <span>Івано-Франківськ, Україна</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="~/Images/galka.svg.png" alt="Author image" class="testimonials__avatar">
                    <p>
                        Електронна інформаційно-пізнавальна газета про рідне місто, його жителів та їх життя.
                    </p>
                    <div class="testimonials__author h06">
                        Galka.if.ua
                        <span>Івано-Франківськ, Україна</span>
                    </div>
                </div>

                <div class="testimonials__slide">
                    <img src="~/Images/pravda.png" alt="Author image" class="testimonials__avatar">
                    <p>
                        «ПРАВДА.if.ua»  - це перше незалежне Інтернет-видання Прикарпаття, яке поєднує в собі якості аналітичної агенції новин і реклами Івано-Франківської області.
                    </p>
                    <div class="testimonials__author h06">
                        «ПРАВДА.if.ua»
                        <span>Івано-Франківськ, Україна</span>
                    </div>
                </div>

            </div> <!-- end testimonials__slider -->

        </div> <!-- end testimonials -->

    </div> <!-- end s-testimonials -->
    <!-- blog
    ================================================== -->
    <section id="blog" class="s-blog target-section" style="padding-top: 5rem;">

        <div class="row narrow section-intro has-bottom-sep">
            <div class="col-full">
                <h3>Новини</h3>
                <h1>Унікальні новини Ви знайдете саме у нас</h1>


            </div>
        </div>

        @{Html.RenderAction("LatestNews", "News");}

    </section> <!-- end s-blog -->
    <!-- s-stats
    ================================================== -->
    @{Html.RenderAction("Counters", "News");}
    <!-- end s-stats -->
    <!-- s-stats

    <!-- footer
    ================================================== -->
    <footer>
        <div class="row">
            <div class="col-full">

                <div class="row">
                    <h3 class="main-logo">Zvistka</h3>
                    @*<a class="site-logo" href="~/Views/Shared/Index.cshtml"><img src="~/Images/logo.png" alt="Homepage"></a>*@
                </div>

                <ul class="footer-social">
                    <li>
                        <a href="#0">
                            <i class="im im-facebook" aria-hidden="true"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-twitter" aria-hidden="true"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li>
                        <a href="#0">
                            <i class="im im-instagram" aria-hidden="true"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                    @*<li>
                            <a href="#0">
                                <i class="im im-behance" aria-hidden="true"></i>
                                <span>Behance</span>
                            </a>
                        </li>*@
                    <li>
                        <a href="#0">
                            <i class="im im-pinterest" aria-hidden="true"></i>
                            <span>Pinterest</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>


    </footer> <!-- end footer -->
    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title="Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>

        </div>

    </div><!-- end photoSwipe background -->

    <div id="preloader">
        <div id="loader"></div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/plugins.js"></script>
    <script src="~/Scripts/main.js"></script>
</body>

</html>
